.git
.idea
.vscode
**/.bsp
**/.metals
**/.scala-build
**/target
**/node_modules
simulationUI/webapp/.next
feedback/feedback_automation/output
feedback/website/generated
student-lab-submissions
**/*.log
**/.DS_Store
